/* ===== MOBIlE ===== */
.page-footer {
  padding: 15px 0 30px;
  border-top: 1px solid rgba(0, 77, 64, 0.1);
  background-image: linear-gradient(
    rgb(160, 216, 160, 0.01),
    rgb(160, 216, 160, 0.6),
    rgb(160, 216, 160, 0.8)
  );
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.page-footer .logo-link {
  flex-direction: column;
  gap: 0;
}
.page-footer .logo-text {
  text-align: center;
}
.page-footer .logo-img {
  width: 50px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-title {
  margin-bottom: 5px;
  font-size: 1.2em;
}
.footer-text {
  font-size: 0.9em;
}
.footer-address-tel {
  font-size: 20px;
  font-weight: 700;
  color: #004d40;
}
/* ===== / MOBIlE ===== */

/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
  .footer-info {
    flex-direction: row;
    column-gap: 80px;
  }
}
/* ===== / TABLET ===== */
