/* ===== MOBIlE ===== */
.page-header {
  padding: 5px 0;
  background-image: linear-gradient(
    rgb(160, 216, 160, 0.6),
    rgb(160, 216, 160, 0.1)
  );
}
.page-header .container {
  padding: 0 5px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 50px;
}
.logo-text {
  font-size: 0.9em;
  letter-spacing: 0.07em;
  font-style: italic;
}

.nav-link-list {
  display: none;
}
.nav-link {
  display: block;
  padding: 10px;
  font-size: 1.5em;
}

.mob-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}
.mob-menu-icon {
  width: 20px;
  height: 20px;
}
.mob-menu-container {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0;
  z-index: 100;
  padding: 10px;
  padding-top: 60px;
  background-color: rgb(240, 250, 240);
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: width 400ms ease-out;
}
.mob-menu-container.is-open {
  opacity: 1;
  width: 100%;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu-container .mob-menu-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.mob-nav .logo-img {
  margin: 0 auto 40px auto;
  width: 100px;
}
.mob-nav-link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* ===== / MOBIlE ===== */

/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
  .nav-link-list {
    display: flex;
    gap: 10px;
  }
  .nav-link {
    font-size: 1.05em;
  }
}
/* ===== / TABLET ===== */

/* ===== DESCTOP ===== */
@media screen and (min-width: 1024px) {
  .page-header {
    padding: 0.5em 0;
  }
  .logo-link {
    gap: 0.5em;
  }
  .logo-img {
    width: 4em;
  }
  .logo-text {
    font-size: 1em;
  }
  .nav-link-list {
    gap: 1em;
  }
  .nav-link {
    font-size: 1.3em;
  }
}
/* ===== / DESCTOP ===== */
