/* ===== MOBIlE ===== */
.map-google-link {
  display: block;
  width: 100%;
  height: 400px;
  outline: 1px solid #004d40;
  border-radius: 10px;
}
/* ===== / MOBIlE ===== */

/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
  .map-google-link {
    width: 90%;
    margin: 0 auto;
  }
}
/* ===== / TABLET ===== */

/* ===== DESCTOP ===== */
@media screen and (min-width: 1024px) {
  .map-google-link {
    width: 85em;
    height: 40em;
  }
}
/* ===== / DESCTOP ===== */
