.services-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.services-item {
  width: calc((100% - 50px * 2) / 3);
  padding: 20px 0;
  text-align: center;
  background-color: var(--card-bg-color);
  border: 1px solid #004d40;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
}
.service-icon {
  width: 45%;
}
.services-item-text {
  margin-top: 15px;
  font-size: 1.2em;
}
