:root {
  --main-font-family: "Roboto", sans-serif;

  --font-size-title-mob: 32px;
  /* --font-size-title-tab: 32px; */
  /* --font-size-title-desc: 32px; */
  --font-size-text-mob: 18px;
  /* --font-size-text-tab: 32px; */
  /* --font-size-text-desc: 32px; */

  --title-main-color: #252525;
  --text-color: #404040;
  --accent-primery-color: #004d40;
  --accent-secondary-color: #6aa6a3;
  --btn-text-color: #23145e;
  --btn-text-hover-color: #432d98;
  --header-bg-color: #a0d8a0;
  --btn-bg-color: #b2dfdb;
  --btn-bg-hover-color: #a0d8a0;
  --card-bg-color: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;

  --page-gradient: linear-gradient(
    rgb(160, 216, 160, 0.4),
    rgb(160, 216, 160, 0.1)
  );
  --header-bg-gradient: linear-gradient(
    rgb(160, 216, 160, 0.8),
    rgb(160, 216, 160, 0.4)
  );
  --footer-bg-gradient: linear-gradient(
    rgb(160, 216, 160, 0.01),
    rgb(160, 216, 160, 0.6),
    rgb(160, 216, 160, 0.8)
  );

  --container-mob-S: 320px;
  --container-mob-L: 375px;
  --container-tab-S: 768px;
  --container-tab-L: 1024px;
  --container-desc-S: 1200px;
  --container-desc-L: 1440px;
  --container-desc-XL: 1600px;

  --timing-duraction: 300ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
address {
  font-style: normal;
}
section {
  padding: 40px 0;
}
.page-main {
  background-image: var(--page-gradient);
}
.container {
  max-width: var(--container-mob-S);
  margin: 0 auto;
  padding: 0 7px;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 98%;
    padding: 0 0.5em;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ================== HEADER STYLES ================== */
.page-header {
  display: none;
  background-image: var(--header-bg-gradient);
  border-bottom: 2px solid rgba(0, 77, 64, 0.5);
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo-img {
  width: 60px;
}
.logo-text {
  letter-spacing: 0.12em;
  font-style: italic;
}
.nav-link-list {
  display: flex;
  gap: 40px;
  margin-right: 100px;
}
.nav-link {
  display: block;
  font-size: 18px;
  padding: 20px 10px;
  color: var(--btn-text-color);

  transition: color var(--timing-duraction) var(--btn-bg-hover-color),
    transform var(--timing-duraction) var(--btn-bg-hover-color);
}
.nav-link:hover,
.nav-link:focus {
  transform: scale(1.1);
  color: var(--btn-text-hover-color);
}
.nav-link.current-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50%;
  background-color: var(--accent-primery-color);
}
/* ================== / HEADER STYLES ================== */

/* ================== HERO STYLES ================== */

.hero-section {
  background-image: linear-gradient(
      rgb(160, 216, 160, 0.7),
      rgb(160, 216, 160, 0.4),
      rgb(160, 216, 160, 0.1),
      rgb(160, 216, 160, 0.01)
    ),
    url("../images//hero/hero-bg-img.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 90vh;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hero-title {
  margin-bottom: 25px;
  font-size: calc(var(--font-size-title-mob) + 2px);
  color: var(--title-main-color);
}
@media screen and (min-width: 375px) {
  .hero-title {
    margin-bottom: 0.7em;
    font-size: 2.6em;
  }
}
.hero-text {
  font-size: calc(var(--font-size-text-mob) + 2px);
  font-style: italic;
  color: var(--title-main-color);
}
.hero-btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (min-width: 375px) {
  .hero-btn-list {
    gap: 3.5em;
  }
}

.hero-btn {
  display: inline-block;
  width: 240px;
  padding: 15px 10px;
  font-size: 20px;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--accent-secondary-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: background-color var(--timing-duraction) var(--timing-function),
    color var(--timing-duraction) var(--timing-function),
    transform var(--timing-duraction) var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--btn-text-hover-color);
  background-color: var(--btn-bg-hover-color);
  transform: scale(1.1);
}
/* ================== / HERO STYLES ================== */

/* ================== ABOUT STYLES ================== */
.about-section {
  background-image: linear-gradient(
      rgba(246, 255, 230, 0.6),
      rgba(246, 255, 230, 0.6)
    ),
    url(../images/about/about-img.webp);
}
.about-section .img-thumb {
  display: none;
  /* flex-shrink: 0.5; */
}
.about-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: var(--font-size-title-mob);
}
.about-text {
  text-indent: 2em;
  font-size: var(--font-size-text-mob);
  font-style: italic;
  text-align: justify;
}
/* ================== / ABOUT STYLES ================== */

/* ================== BENEFITS STYLES ================== */

.benefits-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: var(--font-size-title-mob);
}
.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.benefits-item {
  width: 80%;
}
.benefits-img-tumb {
  margin-bottom: 5px;
  height: 130px;
  border: 1px solid var(--accent-primery-color);
  border-radius: 5px;
  background-color: var(--card-bg-color);
  box-shadow: var(--card-shadow);
}
.benefits-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  transition: transform var(--timing-duraction) var(--timing-function);
}
.benefits-item:hover .benefits-img {
  transform: scale(1.1);
}
.benefits-item-title {
  text-align: center;
  margin-bottom: 4px;
  font-size: var(--font-size-text-mob);
  font-weight: 700;
}
.benefits-item-text {
  text-align: justify;
  font-size: calc(var(--font-size-text-mob) - 4px);
}
/* ================== / BENEFITS STYLES ================== */

/* ==================  SERVICES STYLES ================== */
.services-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: var(--font-size-title-mob);
}
.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.services-item {
  width: 80%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-primery-color);
  border-radius: 7px;
  box-shadow: var(--card-shadow);
}
.services-item-text {
  font-size: calc(var(--font-size-text-mob) + 4px);
}
.service-icon {
  width: 50%;
}
/* ================== / SERVICES STYLES ================== */

/* ==================  MAP STYLES ================== */

.map-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: var(--font-size-title-mob);
}
.map-google-link {
  display: block;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}
/* ==================  / MAP STYLES ================== */

/* ==================  FOOTER STYLES ================== */
.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgba(0, 77, 64, 0.5);
  background-image: var(--footer-bg-gradient);
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.page-footer .logo-link {
  flex-direction: column;
}
.page-footer .logo-img {
  width: 100px;
}
.footer-address-text {
  margin-bottom: 10px;
  font-size: var(--font-size-text-mob);
  font-weight: 700;
}
@media screen and (min-width: 375px) {
  .footer-address-text {
    font-size: 1em;
  }
}
.footer-address-tel {
  font-size: calc(var(--font-size-text-mob) + 8px);
  font-weight: 700;
  color: var(--accent-primery-color);
}
.footer-schedule-title {
  margin-bottom: 10px;
  font-size: var(--font-size-text-mob);
  font-weight: 700;
}
.footer-schedule-text {
  font-size: calc(var(--font-size-text-mob) - 3px);
}
/* ================== / FOOTER STYLES ================== */
